.wrapper {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
}
 
header {
  padding: 30px 0 0;
  border-bottom: solid;
}

footer {
  border-top: solid;
  clear: both;
}

.page {
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}

body {
  background-color: black;
}

.mainheading {
  text-align: center;
  font-family: "Verdana";
  font-size: 37pt;
  font-weight: 700;
  color: #1a1aff;
}

.header1 {
  font-family: "Verdana";
  font-size: 27pt;
  font-weight: 700;
  color: #ffffff;  
}

h2 {
  font-family: "Verdana";
  font-size: 22pt;
  font-weight: 700;
  color: #ffffff;
}

h3 {
  font-family: "Georgia";
  font-size: 18pt;
  font-weight: 700;
  color: #ffffff;
}

p {
  text-align: justify;
  font-family: "Georgia";
  font-size: 15pt;
  font-weight: 500;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

li {
  font-family: "Georgia";
  font-size: 15pt;
  font-weight: 500;
  line-height: 170%;
  color: #ffffff;
}

.date {
  font-family: "Georgia";
  font-size: 13pt;
  font-style: italic;
}
